--
-- PostgreSQL database dump
--

\restrict ysuanG4XXBqPJmhqKEXelnyqYmwL0DdDg0ljXSPLnn14BYgFqdtyHEIeLWCgB2s

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assessment_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_audit_logs (
    audit_log_id integer NOT NULL,
    assessment_detail_id integer,
    action_by_user_id integer,
    action character varying(100),
    comment text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.assessment_audit_logs OWNER TO postgres;

--
-- Name: assessment_audit_logs_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.assessment_audit_logs ALTER COLUMN audit_log_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assessment_audit_logs_audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: assessment_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_details (
    assessment_detail_id integer NOT NULL,
    assessment_id integer,
    criteria_id integer,
    self_score double precision DEFAULT 0,
    applicant_comment text,
    assessor_score double precision DEFAULT 0,
    auditor_comment text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.assessment_details OWNER TO postgres;

--
-- Name: assessment_details_assessment_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.assessment_details ALTER COLUMN assessment_detail_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assessment_details_assessment_detail_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessments (
    assessment_id integer NOT NULL,
    org_id integer NOT NULL,
    assessor_user_id integer,
    assessment_year integer,
    status character varying(50) DEFAULT 'PENDING'::character varying,
    total_score double precision DEFAULT 0,
    notes text,
    certified_level character varying(50),
    submitted_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.assessments OWNER TO postgres;

--
-- Name: assessments_assessment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.assessments ALTER COLUMN assessment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assessments_assessment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: assessor_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessor_profiles (
    assessor_profile_id integer NOT NULL,
    user_id integer,
    license_number character varying(100),
    years_experience integer,
    education_background text,
    qualification_file_url character varying(255),
    verification_status character varying(50),
    verified_at timestamp without time zone,
    verified_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.assessor_profiles OWNER TO postgres;

--
-- Name: assessor_profiles_assessor_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.assessor_profiles ALTER COLUMN assessor_profile_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.assessor_profiles_assessor_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: bank_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bank_accounts (
    bank_account_id integer NOT NULL,
    user_id integer,
    account_name character varying(255),
    account_no character varying(50),
    bank_name character varying(100),
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bank_accounts OWNER TO postgres;

--
-- Name: bank_accounts_bank_account_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.bank_accounts ALTER COLUMN bank_account_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.bank_accounts_bank_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: carbon_activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carbon_activity_logs (
    carbon_log_id integer NOT NULL,
    org_id integer,
    emission_factor_id integer,
    activity_type character varying(100),
    month integer,
    year integer,
    usage_amount double precision,
    total_emission double precision,
    evidence_url text,
    data_source character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.carbon_activity_logs OWNER TO postgres;

--
-- Name: carbon_activity_logs_carbon_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.carbon_activity_logs ALTER COLUMN carbon_log_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.carbon_activity_logs_carbon_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: certificates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.certificates (
    certificate_id integer NOT NULL,
    certificate_no character varying(100),
    assessment_id integer,
    org_id integer,
    issued_at timestamp without time zone,
    expired_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.certificates OWNER TO postgres;

--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.certificates ALTER COLUMN certificate_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.certificates_certificate_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_log (
    chat_log_id integer NOT NULL,
    user_id integer,
    question text,
    answer text,
    intent character varying(100),
    related_module character varying(100),
    confidence_score double precision,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.chat_log OWNER TO postgres;

--
-- Name: chat_log_chat_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.chat_log ALTER COLUMN chat_log_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_log_chat_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: emission_factors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emission_factors (
    emission_factor_id integer NOT NULL,
    name character varying(255) NOT NULL,
    scope integer,
    unit character varying(50),
    factor_value double precision,
    year integer,
    source character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.emission_factors OWNER TO postgres;

--
-- Name: emission_factors_emission_factor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.emission_factors ALTER COLUMN emission_factor_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.emission_factors_emission_factor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evidence_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evidence_files (
    evidence_file_id integer NOT NULL,
    assessment_detail_id integer,
    uploaded_by_user_id integer,
    carbon_log_id integer,
    file_name character varying(255),
    file_url text,
    file_type character varying(50),
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.evidence_files OWNER TO postgres;

--
-- Name: evidence_files_evidence_file_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evidence_files ALTER COLUMN evidence_file_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evidence_files_evidence_file_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: feature_usage_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feature_usage_logs (
    feature_usage_log_id integer NOT NULL,
    org_id integer,
    feature_code character varying(50),
    usage_count integer DEFAULT 0,
    usage_date date DEFAULT CURRENT_DATE,
    usage_month integer,
    usage_year integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.feature_usage_logs OWNER TO postgres;

--
-- Name: feature_usage_logs_feature_usage_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.feature_usage_logs ALTER COLUMN feature_usage_log_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.feature_usage_logs_feature_usage_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.features (
    feature_id integer NOT NULL,
    feature_code character varying(50),
    feature_name character varying(255),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.features OWNER TO postgres;

--
-- Name: features_feature_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.features ALTER COLUMN feature_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.features_feature_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: green_criteria_master; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.green_criteria_master (
    criteria_id integer NOT NULL,
    category_number integer,
    criteria_code character varying(50),
    criteria_name character varying(255),
    max_score double precision,
    description text,
    year_version integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.green_criteria_master OWNER TO postgres;

--
-- Name: green_criteria_master_criteria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.green_criteria_master ALTER COLUMN criteria_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.green_criteria_master_criteria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    invoice_id integer NOT NULL,
    org_id integer,
    plan_id integer,
    amount double precision,
    status character varying(50),
    reference_number character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: invoices_invoice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.invoices ALTER COLUMN invoice_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.invoices_invoice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organization_subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organization_subscriptions (
    org_subscription_id integer NOT NULL,
    org_id integer,
    plan_id integer,
    start_date date,
    end_date date,
    status character varying(50),
    auto_renew boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.organization_subscriptions OWNER TO postgres;

--
-- Name: organization_subscriptions_org_subscription_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.organization_subscriptions ALTER COLUMN org_subscription_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organization_subscriptions_org_subscription_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organization_units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organization_units (
    unit_id integer NOT NULL,
    org_id integer,
    unit_name character varying(255) NOT NULL,
    parent_unit_id integer,
    unit_type character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.organization_units OWNER TO postgres;

--
-- Name: organization_units_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.organization_units ALTER COLUMN unit_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organization_units_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    org_id integer NOT NULL,
    name character varying(255) NOT NULL,
    tax_id character varying(13),
    industry_type character varying(100),
    number_of_employees integer,
    total_floor_area double precision,
    working_hours_per_year integer,
    base_year integer,
    target_reduction_percent double precision,
    current_green_status character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: organizations_org_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.organizations ALTER COLUMN org_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.organizations_org_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    payment_id integer NOT NULL,
    invoice_id integer,
    org_id integer,
    amount double precision NOT NULL,
    currency character varying(10) DEFAULT 'THB'::character varying,
    payment_method character varying(50),
    payment_status character varying(50),
    paid_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.payments ALTER COLUMN payment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.payments_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: plan_features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plan_features (
    plan_id integer NOT NULL,
    feature_id integer NOT NULL
);


ALTER TABLE public.plan_features OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id integer NOT NULL,
    role_name character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.roles ALTER COLUMN role_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.roles_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: subscription_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscription_plans (
    plan_id integer NOT NULL,
    plan_name character varying(100) NOT NULL,
    description text,
    price_per_month double precision,
    max_users integer,
    max_locations integer,
    has_ai_scan boolean DEFAULT false,
    has_green_office boolean DEFAULT true,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.subscription_plans OWNER TO postgres;

--
-- Name: subscription_plans_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.subscription_plans ALTER COLUMN plan_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.subscription_plans_plan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    user_id integer NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    phone character varying(20),
    profile_image text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_roles (
    user_id integer NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    org_id integer,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    is_active boolean DEFAULT true,
    email_verified_at timestamp without time zone,
    last_login_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN user_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: assessment_audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_audit_logs (audit_log_id, assessment_detail_id, action_by_user_id, action, comment, created_at) FROM stdin;
\.


--
-- Data for Name: assessment_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_details (assessment_detail_id, assessment_id, criteria_id, self_score, applicant_comment, assessor_score, auditor_comment, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessments (assessment_id, org_id, assessor_user_id, assessment_year, status, total_score, notes, certified_level, submitted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: assessor_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessor_profiles (assessor_profile_id, user_id, license_number, years_experience, education_background, qualification_file_url, verification_status, verified_at, verified_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: bank_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bank_accounts (bank_account_id, user_id, account_name, account_no, bank_name, is_primary, created_at) FROM stdin;
\.


--
-- Data for Name: carbon_activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carbon_activity_logs (carbon_log_id, org_id, emission_factor_id, activity_type, month, year, usage_amount, total_emission, evidence_url, data_source, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.certificates (certificate_id, certificate_no, assessment_id, org_id, issued_at, expired_at, created_at) FROM stdin;
\.


--
-- Data for Name: chat_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_log (chat_log_id, user_id, question, answer, intent, related_module, confidence_score, created_at) FROM stdin;
\.


--
-- Data for Name: emission_factors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.emission_factors (emission_factor_id, name, scope, unit, factor_value, year, source, created_at) FROM stdin;
\.


--
-- Data for Name: evidence_files; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evidence_files (evidence_file_id, assessment_detail_id, uploaded_by_user_id, carbon_log_id, file_name, file_url, file_type, uploaded_at) FROM stdin;
\.


--
-- Data for Name: feature_usage_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.feature_usage_logs (feature_usage_log_id, org_id, feature_code, usage_count, usage_date, usage_month, usage_year, created_at) FROM stdin;
\.


--
-- Data for Name: features; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.features (feature_id, feature_code, feature_name, description, created_at) FROM stdin;
\.


--
-- Data for Name: green_criteria_master; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.green_criteria_master (criteria_id, category_number, criteria_code, criteria_name, max_score, description, year_version, created_at) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoices (invoice_id, org_id, plan_id, amount, status, reference_number, notes, created_at) FROM stdin;
\.


--
-- Data for Name: organization_subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organization_subscriptions (org_subscription_id, org_id, plan_id, start_date, end_date, status, auto_renew, created_at) FROM stdin;
\.


--
-- Data for Name: organization_units; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organization_units (unit_id, org_id, unit_name, parent_unit_id, unit_type, created_at) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations (org_id, name, tax_id, industry_type, number_of_employees, total_floor_area, working_hours_per_year, base_year, target_reduction_percent, current_green_status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payments (payment_id, invoice_id, org_id, amount, currency, payment_method, payment_status, paid_at, created_at) FROM stdin;
\.


--
-- Data for Name: plan_features; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.plan_features (plan_id, feature_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (role_id, role_name) FROM stdin;
\.


--
-- Data for Name: subscription_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscription_plans (plan_id, plan_name, description, price_per_month, max_users, max_locations, has_ai_scan, has_green_office, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_profiles (user_id, first_name, last_name, phone, profile_image, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_roles (user_id, role_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, org_id, email, password_hash, is_active, email_verified_at, last_login_at, created_at, updated_at) FROM stdin;
\.


--
-- Name: assessment_audit_logs_audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessment_audit_logs_audit_log_id_seq', 1, false);


--
-- Name: assessment_details_assessment_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessment_details_assessment_detail_id_seq', 1, false);


--
-- Name: assessments_assessment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessments_assessment_id_seq', 1, false);


--
-- Name: assessor_profiles_assessor_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessor_profiles_assessor_profile_id_seq', 1, false);


--
-- Name: bank_accounts_bank_account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bank_accounts_bank_account_id_seq', 1, false);


--
-- Name: carbon_activity_logs_carbon_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.carbon_activity_logs_carbon_log_id_seq', 1, false);


--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.certificates_certificate_id_seq', 1, false);


--
-- Name: chat_log_chat_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_log_chat_log_id_seq', 1, false);


--
-- Name: emission_factors_emission_factor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.emission_factors_emission_factor_id_seq', 1, false);


--
-- Name: evidence_files_evidence_file_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evidence_files_evidence_file_id_seq', 1, false);


--
-- Name: feature_usage_logs_feature_usage_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.feature_usage_logs_feature_usage_log_id_seq', 1, false);


--
-- Name: features_feature_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.features_feature_id_seq', 1, false);


--
-- Name: green_criteria_master_criteria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.green_criteria_master_criteria_id_seq', 1, false);


--
-- Name: invoices_invoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoices_invoice_id_seq', 1, false);


--
-- Name: organization_subscriptions_org_subscription_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organization_subscriptions_org_subscription_id_seq', 1, false);


--
-- Name: organization_units_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organization_units_unit_id_seq', 1, false);


--
-- Name: organizations_org_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizations_org_id_seq', 1, false);


--
-- Name: payments_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payments_payment_id_seq', 1, false);


--
-- Name: roles_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_role_id_seq', 1, false);


--
-- Name: subscription_plans_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscription_plans_plan_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, false);


--
-- Name: assessment_audit_logs assessment_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_audit_logs
    ADD CONSTRAINT assessment_audit_logs_pkey PRIMARY KEY (audit_log_id);


--
-- Name: assessment_details assessment_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_details
    ADD CONSTRAINT assessment_details_pkey PRIMARY KEY (assessment_detail_id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (assessment_id);


--
-- Name: assessor_profiles assessor_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT assessor_profiles_pkey PRIMARY KEY (assessor_profile_id);


--
-- Name: assessor_profiles assessor_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT assessor_profiles_user_id_key UNIQUE (user_id);


--
-- Name: bank_accounts bank_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_pkey PRIMARY KEY (bank_account_id);


--
-- Name: carbon_activity_logs carbon_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carbon_activity_logs
    ADD CONSTRAINT carbon_activity_logs_pkey PRIMARY KEY (carbon_log_id);


--
-- Name: certificates certificates_certificate_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_certificate_no_key UNIQUE (certificate_no);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (certificate_id);


--
-- Name: chat_log chat_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_log
    ADD CONSTRAINT chat_log_pkey PRIMARY KEY (chat_log_id);


--
-- Name: emission_factors emission_factors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emission_factors
    ADD CONSTRAINT emission_factors_pkey PRIMARY KEY (emission_factor_id);


--
-- Name: evidence_files evidence_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_files
    ADD CONSTRAINT evidence_files_pkey PRIMARY KEY (evidence_file_id);


--
-- Name: feature_usage_logs feature_usage_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feature_usage_logs
    ADD CONSTRAINT feature_usage_logs_pkey PRIMARY KEY (feature_usage_log_id);


--
-- Name: features features_feature_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT features_feature_code_key UNIQUE (feature_code);


--
-- Name: features features_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT features_pkey PRIMARY KEY (feature_id);


--
-- Name: green_criteria_master green_criteria_master_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.green_criteria_master
    ADD CONSTRAINT green_criteria_master_pkey PRIMARY KEY (criteria_id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (invoice_id);


--
-- Name: organization_subscriptions organization_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_subscriptions
    ADD CONSTRAINT organization_subscriptions_pkey PRIMARY KEY (org_subscription_id);


--
-- Name: organization_units organization_units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_units
    ADD CONSTRAINT organization_units_pkey PRIMARY KEY (unit_id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (org_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_id);


--
-- Name: plan_features plan_features_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features
    ADD CONSTRAINT plan_features_pkey PRIMARY KEY (plan_id, feature_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: roles roles_role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_role_name_key UNIQUE (role_name);


--
-- Name: subscription_plans subscription_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT subscription_plans_pkey PRIMARY KEY (plan_id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: assessments fk_assessment_assessor; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT fk_assessment_assessor FOREIGN KEY (assessor_user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: assessments fk_assessment_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT fk_assessment_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: assessor_profiles fk_assessor_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT fk_assessor_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: assessor_profiles fk_assessor_verified_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT fk_assessor_verified_by FOREIGN KEY (verified_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: assessment_audit_logs fk_audit_detail; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_audit_logs
    ADD CONSTRAINT fk_audit_detail FOREIGN KEY (assessment_detail_id) REFERENCES public.assessment_details(assessment_detail_id) ON DELETE CASCADE;


--
-- Name: assessment_audit_logs fk_audit_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_audit_logs
    ADD CONSTRAINT fk_audit_user FOREIGN KEY (action_by_user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: bank_accounts fk_bank_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT fk_bank_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: carbon_activity_logs fk_carbon_factor; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carbon_activity_logs
    ADD CONSTRAINT fk_carbon_factor FOREIGN KEY (emission_factor_id) REFERENCES public.emission_factors(emission_factor_id) ON DELETE SET NULL;


--
-- Name: carbon_activity_logs fk_carbon_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carbon_activity_logs
    ADD CONSTRAINT fk_carbon_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: certificates fk_certificate_assessment; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT fk_certificate_assessment FOREIGN KEY (assessment_id) REFERENCES public.assessments(assessment_id) ON DELETE CASCADE;


--
-- Name: certificates fk_certificate_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT fk_certificate_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: chat_log fk_chat_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_log
    ADD CONSTRAINT fk_chat_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: assessment_details fk_detail_assessment; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_details
    ADD CONSTRAINT fk_detail_assessment FOREIGN KEY (assessment_id) REFERENCES public.assessments(assessment_id) ON DELETE CASCADE;


--
-- Name: assessment_details fk_detail_criteria; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_details
    ADD CONSTRAINT fk_detail_criteria FOREIGN KEY (criteria_id) REFERENCES public.green_criteria_master(criteria_id) ON DELETE CASCADE;


--
-- Name: evidence_files fk_evidence_detail; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_files
    ADD CONSTRAINT fk_evidence_detail FOREIGN KEY (assessment_detail_id) REFERENCES public.assessment_details(assessment_detail_id) ON DELETE CASCADE;


--
-- Name: evidence_files fk_evidence_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_files
    ADD CONSTRAINT fk_evidence_user FOREIGN KEY (uploaded_by_user_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: feature_usage_logs fk_feature_usage_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feature_usage_logs
    ADD CONSTRAINT fk_feature_usage_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: invoices fk_invoice_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT fk_invoice_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: invoices fk_invoice_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT fk_invoice_plan FOREIGN KEY (plan_id) REFERENCES public.subscription_plans(plan_id) ON DELETE SET NULL;


--
-- Name: organization_subscriptions fk_org_sub_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_subscriptions
    ADD CONSTRAINT fk_org_sub_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: organization_subscriptions fk_org_sub_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_subscriptions
    ADD CONSTRAINT fk_org_sub_plan FOREIGN KEY (plan_id) REFERENCES public.subscription_plans(plan_id) ON DELETE CASCADE;


--
-- Name: organization_units fk_org_unit_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_units
    ADD CONSTRAINT fk_org_unit_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: organization_units fk_org_unit_parent; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization_units
    ADD CONSTRAINT fk_org_unit_parent FOREIGN KEY (parent_unit_id) REFERENCES public.organization_units(unit_id) ON DELETE SET NULL;


--
-- Name: payments fk_payment_invoice; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT fk_payment_invoice FOREIGN KEY (invoice_id) REFERENCES public.invoices(invoice_id) ON DELETE SET NULL;


--
-- Name: payments fk_payment_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT fk_payment_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: plan_features fk_plan_feature_feature; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features
    ADD CONSTRAINT fk_plan_feature_feature FOREIGN KEY (feature_id) REFERENCES public.features(feature_id) ON DELETE CASCADE;


--
-- Name: plan_features fk_plan_feature_plan; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plan_features
    ADD CONSTRAINT fk_plan_feature_plan FOREIGN KEY (plan_id) REFERENCES public.subscription_plans(plan_id) ON DELETE CASCADE;


--
-- Name: user_profiles fk_profiles_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT fk_profiles_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: user_roles fk_user_roles_role; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fk_user_roles_role FOREIGN KEY (role_id) REFERENCES public.roles(role_id) ON DELETE CASCADE;


--
-- Name: user_roles fk_user_roles_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT fk_user_roles_user FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: users fk_users_org; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_org FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict ysuanG4XXBqPJmhqKEXelnyqYmwL0DdDg0ljXSPLnn14BYgFqdtyHEIeLWCgB2s

