--
-- PostgreSQL database dump
--

\restrict 9Rkb3KuzY0yoIk4JEYumB85U7btuecr4ChjQerUQv0mB3PhdVJRniE3VRF2NF3p

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: greenoffice; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE greenoffice WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE greenoffice OWNER TO postgres;

\unrestrict 9Rkb3KuzY0yoIk4JEYumB85U7btuecr4ChjQerUQv0mB3PhdVJRniE3VRF2NF3p
\connect greenoffice
\restrict 9Rkb3KuzY0yoIk4JEYumB85U7btuecr4ChjQerUQv0mB3PhdVJRniE3VRF2NF3p

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assessment_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_details (
    assessment_detail_id integer NOT NULL,
    self_score double precision DEFAULT '0'::double precision NOT NULL,
    applicant_comment text,
    assessor_score double precision DEFAULT '0'::double precision NOT NULL,
    auditor_comment text,
    assessment_id integer,
    criteria_id integer
);


ALTER TABLE public.assessment_details OWNER TO postgres;

--
-- Name: assessment_details_assessment_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessment_details_assessment_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assessment_details_assessment_detail_id_seq OWNER TO postgres;

--
-- Name: assessment_details_assessment_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessment_details_assessment_detail_id_seq OWNED BY public.assessment_details.assessment_detail_id;


--
-- Name: assessments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessments (
    assessment_id integer NOT NULL,
    assessment_year integer,
    status character varying(50) DEFAULT 'PENDING'::character varying NOT NULL,
    total_score double precision DEFAULT '0'::double precision NOT NULL,
    notes text,
    certified_level character varying(50),
    submitted_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    org_id integer,
    assessor_user_id integer
);


ALTER TABLE public.assessments OWNER TO postgres;

--
-- Name: assessments_assessment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessments_assessment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assessments_assessment_id_seq OWNER TO postgres;

--
-- Name: assessments_assessment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessments_assessment_id_seq OWNED BY public.assessments.assessment_id;


--
-- Name: assessor_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessor_profiles (
    id integer NOT NULL,
    license_number character varying(255),
    expertise_tags text,
    years_experience integer DEFAULT 0 NOT NULL,
    education_background text,
    qualification_file_url character varying(255),
    verification_status character varying(50) DEFAULT 'Pending'::character varying NOT NULL,
    verified_at timestamp without time zone,
    bank_account_no character varying(255),
    bank_name character varying(255),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    user_id integer,
    verified_by integer
);


ALTER TABLE public.assessor_profiles OWNER TO postgres;

--
-- Name: assessor_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessor_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assessor_profiles_id_seq OWNER TO postgres;

--
-- Name: assessor_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessor_profiles_id_seq OWNED BY public.assessor_profiles.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    action character varying(100) NOT NULL,
    description text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    user_id integer
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: carbon_activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carbon_activity_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    date date NOT NULL,
    type character varying NOT NULL,
    amount double precision NOT NULL,
    unit character varying(50) NOT NULL,
    emission double precision NOT NULL,
    source character varying DEFAULT 'MANUAL'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    org_id integer
);


ALTER TABLE public.carbon_activity_logs OWNER TO postgres;

--
-- Name: emission_factors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.emission_factors (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    category character varying(100) NOT NULL,
    type_name character varying(200) NOT NULL,
    unit character varying(50) NOT NULL,
    factor_value double precision NOT NULL,
    gwp_version character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.emission_factors OWNER TO postgres;

--
-- Name: evidence_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evidence_files (
    evidence_file_id integer NOT NULL,
    file_name character varying(255) NOT NULL,
    file_url character varying(255) NOT NULL,
    file_type character varying(50),
    uploaded_at timestamp without time zone DEFAULT now() NOT NULL,
    assessment_detail_id integer,
    uploaded_by_user_id integer
);


ALTER TABLE public.evidence_files OWNER TO postgres;

--
-- Name: evidence_files_evidence_file_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.evidence_files_evidence_file_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.evidence_files_evidence_file_id_seq OWNER TO postgres;

--
-- Name: evidence_files_evidence_file_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.evidence_files_evidence_file_id_seq OWNED BY public.evidence_files.evidence_file_id;


--
-- Name: green_criteria_master; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.green_criteria_master (
    criteria_id integer NOT NULL,
    category_number integer,
    criteria_code character varying(50),
    criteria_name text NOT NULL,
    max_score double precision DEFAULT '5'::double precision NOT NULL,
    description text,
    year_version integer
);


ALTER TABLE public.green_criteria_master OWNER TO postgres;

--
-- Name: green_criteria_master_criteria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.green_criteria_master_criteria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.green_criteria_master_criteria_id_seq OWNER TO postgres;

--
-- Name: green_criteria_master_criteria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.green_criteria_master_criteria_id_seq OWNED BY public.green_criteria_master.criteria_id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    amount double precision NOT NULL,
    status character varying(50) DEFAULT 'PENDING'::character varying NOT NULL,
    reference_number character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    org_id integer,
    plan_id uuid
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    org_id integer NOT NULL,
    name character varying(255) NOT NULL,
    tax_id character varying(13),
    industry_type character varying(100),
    business_type character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    number_of_employees integer DEFAULT 0 NOT NULL,
    total_floor_area double precision DEFAULT '0'::double precision NOT NULL,
    working_hours_per_year integer DEFAULT 0 NOT NULL,
    base_year integer,
    target_reduction_percent double precision DEFAULT '0'::double precision NOT NULL,
    current_green_status character varying(50),
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: organizations_org_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.organizations_org_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizations_org_id_seq OWNER TO postgres;

--
-- Name: organizations_org_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.organizations_org_id_seq OWNED BY public.organizations.org_id;


--
-- Name: subscription_plans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscription_plans (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price_per_month double precision DEFAULT '0'::double precision NOT NULL,
    max_users integer DEFAULT 1 NOT NULL,
    max_locations integer DEFAULT 1 NOT NULL,
    has_ai_scan boolean DEFAULT false NOT NULL,
    has_green_office boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.subscription_plans OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    assessor_verified boolean DEFAULT false NOT NULL,
    bio text,
    bank_name character varying(255),
    bank_account_name character varying(255),
    bank_account_number character varying(255),
    role character varying DEFAULT 'USER'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    org_id integer
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: assessment_details assessment_detail_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_details ALTER COLUMN assessment_detail_id SET DEFAULT nextval('public.assessment_details_assessment_detail_id_seq'::regclass);


--
-- Name: assessments assessment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments ALTER COLUMN assessment_id SET DEFAULT nextval('public.assessments_assessment_id_seq'::regclass);


--
-- Name: assessor_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles ALTER COLUMN id SET DEFAULT nextval('public.assessor_profiles_id_seq'::regclass);


--
-- Name: evidence_files evidence_file_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_files ALTER COLUMN evidence_file_id SET DEFAULT nextval('public.evidence_files_evidence_file_id_seq'::regclass);


--
-- Name: green_criteria_master criteria_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.green_criteria_master ALTER COLUMN criteria_id SET DEFAULT nextval('public.green_criteria_master_criteria_id_seq'::regclass);


--
-- Name: organizations org_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations ALTER COLUMN org_id SET DEFAULT nextval('public.organizations_org_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: assessment_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_details (assessment_detail_id, self_score, applicant_comment, assessor_score, auditor_comment, assessment_id, criteria_id) FROM stdin;
\.


--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessments (assessment_id, assessment_year, status, total_score, notes, certified_level, submitted_at, updated_at, org_id, assessor_user_id) FROM stdin;
\.


--
-- Data for Name: assessor_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessor_profiles (id, license_number, expertise_tags, years_experience, education_background, qualification_file_url, verification_status, verified_at, bank_account_no, bank_name, created_at, updated_at, user_id, verified_by) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, action, description, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: carbon_activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carbon_activity_logs (id, date, type, amount, unit, emission, source, created_at, updated_at, org_id) FROM stdin;
\.


--
-- Data for Name: emission_factors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.emission_factors (id, category, type_name, unit, factor_value, gwp_version, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: evidence_files; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evidence_files (evidence_file_id, file_name, file_url, file_type, uploaded_at, assessment_detail_id, uploaded_by_user_id) FROM stdin;
\.


--
-- Data for Name: green_criteria_master; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.green_criteria_master (criteria_id, category_number, criteria_code, criteria_name, max_score, description, year_version) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoices (id, amount, status, reference_number, notes, created_at, org_id, plan_id) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations (org_id, name, tax_id, industry_type, business_type, is_active, number_of_employees, total_floor_area, working_hours_per_year, base_year, target_reduction_percent, current_green_status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: subscription_plans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subscription_plans (id, name, description, price_per_month, max_users, max_locations, has_ai_scan, has_green_office, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, email, password_hash, is_active, assessor_verified, bio, bank_name, bank_account_name, bank_account_number, role, created_at, updated_at, org_id) FROM stdin;
\.


--
-- Name: assessment_details_assessment_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessment_details_assessment_detail_id_seq', 1, false);


--
-- Name: assessments_assessment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessments_assessment_id_seq', 1, false);


--
-- Name: assessor_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessor_profiles_id_seq', 1, false);


--
-- Name: evidence_files_evidence_file_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evidence_files_evidence_file_id_seq', 1, false);


--
-- Name: green_criteria_master_criteria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.green_criteria_master_criteria_id_seq', 1, false);


--
-- Name: organizations_org_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizations_org_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: audit_logs PK_1bb179d048bbc581caa3b013439; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "PK_1bb179d048bbc581caa3b013439" PRIMARY KEY (id);


--
-- Name: evidence_files PK_33f2da114a2e1ba16245e05f6e4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_files
    ADD CONSTRAINT "PK_33f2da114a2e1ba16245e05f6e4" PRIMARY KEY (evidence_file_id);


--
-- Name: emission_factors PK_56b606f78b4f6d9e259300a06e7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.emission_factors
    ADD CONSTRAINT "PK_56b606f78b4f6d9e259300a06e7" PRIMARY KEY (id);


--
-- Name: invoices PK_668cef7c22a427fd822cc1be3ce; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT "PK_668cef7c22a427fd822cc1be3ce" PRIMARY KEY (id);


--
-- Name: assessments PK_698848c75a15cb64e5b2ffbe8b2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT "PK_698848c75a15cb64e5b2ffbe8b2" PRIMARY KEY (assessment_id);


--
-- Name: assessor_profiles PK_7dea757f98f3c8dd1750cfa4a1a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT "PK_7dea757f98f3c8dd1750cfa4a1a" PRIMARY KEY (id);


--
-- Name: subscription_plans PK_9ab8fe6918451ab3d0a4fb6bb0c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription_plans
    ADD CONSTRAINT "PK_9ab8fe6918451ab3d0a4fb6bb0c" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: carbon_activity_logs PK_acf477e0b67c20cdd596117a868; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carbon_activity_logs
    ADD CONSTRAINT "PK_acf477e0b67c20cdd596117a868" PRIMARY KEY (id);


--
-- Name: organizations PK_bd5a04b9be15ee3895707072d4f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT "PK_bd5a04b9be15ee3895707072d4f" PRIMARY KEY (org_id);


--
-- Name: green_criteria_master PK_c50ba2e1cdd653066eaf357346a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.green_criteria_master
    ADD CONSTRAINT "PK_c50ba2e1cdd653066eaf357346a" PRIMARY KEY (criteria_id);


--
-- Name: assessment_details PK_fcadeb5be6f9f38f939bc0d10c9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_details
    ADD CONSTRAINT "PK_fcadeb5be6f9f38f939bc0d10c9" PRIMARY KEY (assessment_detail_id);


--
-- Name: assessor_profiles REL_2da096af95fb1561ece21345b7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT "REL_2da096af95fb1561ece21345b7" UNIQUE (user_id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: assessment_details FK_047a548e5da56fe218c429de1a0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_details
    ADD CONSTRAINT "FK_047a548e5da56fe218c429de1a0" FOREIGN KEY (criteria_id) REFERENCES public.green_criteria_master(criteria_id);


--
-- Name: invoices FK_08521b1e94fa456ac57f335485f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT "FK_08521b1e94fa456ac57f335485f" FOREIGN KEY (plan_id) REFERENCES public.subscription_plans(id);


--
-- Name: users FK_0a13270cd3101fd16b8000e00d4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_0a13270cd3101fd16b8000e00d4" FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: assessment_details FK_17451d77518cdb5920e95a85601; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_details
    ADD CONSTRAINT "FK_17451d77518cdb5920e95a85601" FOREIGN KEY (assessment_id) REFERENCES public.assessments(assessment_id) ON DELETE CASCADE;


--
-- Name: evidence_files FK_2bd57b8018c872758dd1be3d26e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_files
    ADD CONSTRAINT "FK_2bd57b8018c872758dd1be3d26e" FOREIGN KEY (uploaded_by_user_id) REFERENCES public.users(id);


--
-- Name: assessor_profiles FK_2da096af95fb1561ece21345b77; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT "FK_2da096af95fb1561ece21345b77" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: assessments FK_33843fb0f58eb689b7f40e5d81f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT "FK_33843fb0f58eb689b7f40e5d81f" FOREIGN KEY (assessor_user_id) REFERENCES public.users(id);


--
-- Name: assessor_profiles FK_374709e3dc8448241d1e3a6798b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessor_profiles
    ADD CONSTRAINT "FK_374709e3dc8448241d1e3a6798b" FOREIGN KEY (verified_by) REFERENCES public.users(id);


--
-- Name: invoices FK_824ca52f970e3ca5c8475ccee59; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT "FK_824ca52f970e3ca5c8475ccee59" FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: assessments FK_9815cb6c5058dc4a5189d77d233; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT "FK_9815cb6c5058dc4a5189d77d233" FOREIGN KEY (org_id) REFERENCES public.organizations(org_id);


--
-- Name: carbon_activity_logs FK_9ec0655154588ea8bdec5c0cd12; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carbon_activity_logs
    ADD CONSTRAINT "FK_9ec0655154588ea8bdec5c0cd12" FOREIGN KEY (org_id) REFERENCES public.organizations(org_id) ON DELETE CASCADE;


--
-- Name: audit_logs FK_bd2726fd31b35443f2245b93ba0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "FK_bd2726fd31b35443f2245b93ba0" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: evidence_files FK_dd8a0dcabf05717dc82925f831f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidence_files
    ADD CONSTRAINT "FK_dd8a0dcabf05717dc82925f831f" FOREIGN KEY (assessment_detail_id) REFERENCES public.assessment_details(assessment_detail_id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 9Rkb3KuzY0yoIk4JEYumB85U7btuecr4ChjQerUQv0mB3PhdVJRniE3VRF2NF3p

